
body {
    background-color: #444;
    margin: 15px;
    margin-bottom: 40px;
    font-size: 11pt;
    font-family: Courier New, Courier, monospace;
    color: #00CC33;
}

#maincolumn {
}

#box {
    /* http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/ */
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    white-space: pre;
}

#input {
    font-family: inherit;
/*    position: fixed;
    bottom: 20px; */
    width: inherit;
    border: none;
    color: #33ff66;
    outline: none;
    background-color: #444;
}
#input:focus {
   border: 0;
}
#prompt {
   color: #6f9;
}

.room_name {
    font-weight: bolder;
    color: #33ff66;
}
.room_exits {
    color: #33ff66;
}

.actor {
    color: #33ff66;
}

.speech {
    color: #33ff66;
}