
body {
    background-color: #444;
    margin: 15px;
    margin-bottom: 40px;
    font-size: 11pt;
    font-family: Courier New, Courier, monospace;
    color: #00CC33;
}

#maincolumn {
}

#box {
    /* http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/ */
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;

    white-space: pre;
}

#input {
    font-family: inherit;
    position: fixed;
    bottom: 20px;
    width: inherit;
    border: 1px solid black;
    background-color: #DDD;

}
#input:focus {
    background-color: #EEE;
    border: solid 1px #33677F;

}
