#demos {
   float: left;
   margin-left: 20px;
   height: 100%;
   width: 720px;
}

#notifications {
   float: left;
   height: 100%;
   width: 220px;
   margin-left: 20px;
   padding: 4px;
}

.out {
   float: left;
   width: 220px;
   border: 1px solid black;
   padding: 3px;
   margin-left: 20px;
}
.out p, #notifications p {
   line-height: 1.1;
   padding: 2px;
   margin: 0;
}

form {
   clear: both;
}

input[type=text] {
   width: 140px;
}

.req {
   float: left;
   width: 250px;
}

#pubform, #pushform {
   margin-left: 180px;
}